body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#commands {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#commands img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

#green-button {
    background-color: green;
    width: 100px;
    height: 100px;
}

#red-button {
    background-color: red;
    width: 100px;
    height: 100px;
}

#fire-button {
    background-color: grey;
    width: 100px;
    height: 100px;
    color: white;
}

#result {
    margin-top: 20px;
    font-size: 24px;
}

#level-text {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

#command-text {
    transition: left 0.3s, top 0.3s; /* Komut metninin pozisyon değişiklikleri için animasyon */
}

#sliders-container {
    display: none;
    width: 100%;
    text-align: left;
}

#dino-game-container {
    display: none;
    width: 250%;
    height: 300px;
    position: relative;
    background: #f7f7f7;
    overflow: hidden;
}

.dino {
    width: 50px;
    height: 50px;
    background: url('prop.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.cactus {
    width: 60px;
    height: 60px;
    background: url('foot.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 0;
}

.game-over {
    font-size: 48px;
    color: red;
}
